.PopUpZap {
  background: white;
  bottom: 0;
  position: fixed;
  right: 0;
  border-radius: 20px;
  margin: 15px;
  cursor: pointer;
  border: 1px solid #2f5a43;
}


.PopUpZap:hover {
  background: #F0FFF0;
  bottom: 0;
  position: fixed;
  right: 0;
  border-radius: 20px;
  margin: 15px;
  cursor: pointer;
  border: 1px solid #2f5a43;
  transition: all 1s;
}


.PopUpZap a {
  display: flex;
  align-items: center;
}

.PopUpZap p {
  margin: 0px 10px 0px 30px;
  font-family: italic;
  font-size: 20px;
  line-height: 1;
  color: black;
}

.PopUpZap img {
  margin: 10px;
  width: 60px;
}

.Click {
  font-size: 14px;
  margin: 0px 0px 0px 20px;
  color: green;
}

.PopUpZap2 {
  background: black;
  bottom: 0;
  position: fixed;
  right: 0;
  border-radius: 20px;
  margin: 15px;
  cursor: pointer;
  display: none;
}
